Flask==2.2.5
Flask-SQLAlchemy>=2.5.1
Flask-WTF==0.15.1
Jinja2>=3.0
MarkupSafe>=2.1.1
SQLAlchemy>=2.0.0
WTForms==2.3.3
Werkzeug==2.3.7
argparse==1.4.0
itsdangerous>=2.0
requests==2.31.0
uWSGI==2.0.22
wheel==0.38.1
