


/* index as of Feb 13 2015 */

.book-list {
  margin-bottom: 10px;
}
.pages-list {
  text-align: right;
  margin-bottom: 10px;
}
.header-spacer {
  height: 20px;
}
.book-section-headers {
  font-weight: bold;
}
.book-section-entry-container {
  border-bottom: 1px solid lightgrey;
}
