

/* index, all, search */

body {
  background-image: url('images/Nb_2169_sticker-10p-opacity.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.height-controller {
  min-height: 600px;

  margin-bottom: 30px;
  margin-top: 30px;
}

.book-list {
  margin-bottom: 10px;
}
.pages-list {
  text-align: left;
  margin-bottom: 10px;
}
.paginate-pagenumber-container {
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: right;
  padding-right: 30px;
}
.book-section-headers {
  font-weight: bold;
}
.explanation-header {
  text-align: center;
  max-width: 600px;

  margin: 0 auto;
  padding: 10px 10px 20px 10px;

  color: darkred;
}
.book-section-entry-container {
  border-bottom: 1px solid lightgrey;

  p {
    margin: 0;
    padding: 0;
  }
}
.subject-field-expander {
  display: none;
}
.toggle-subjects {
  color: $link-color;
  cursor: pointer;
}

/*** Detail View ***/

.detail-view-container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.detail-view-image > img {
  width: 100%;
  border: 3px solid black;
}
.detail-view-fields {
  padding: 15px;
}
.detail-view-content {
  font-weight: bold;
}
.detail-view-title {
  font-weight: bold;
  font-size: 1.1em;
}

/* ===================
    h5bp theme overrides
   =================== */

.header-container {
    border-bottom: 20px solid #ED1C24;
}

.footer-container {
    background-image: url('images/header1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.footer-container {
    border-top: 20px solid #ED1C24;
    border-bottom: 20px solid #ED1C24;
}

.main aside {
    border-top: 20px solid #ED1C24;
}

.header-container,
// .footer-container,
.main aside {
    background-color: black;
}

.title {
    color: red;
    font-weight: bold;
}
