
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="row detail-view-container">
      <div class="col-xs-4 detail-view-image">
        {% if book.openlibrary_medcover_url %}
          <img src="{{ book.openlibrary_medcover_url }}">
        {% else %}
          <img src="/static/dist/images/lincoln-inaug-bible.jpg">
        {% endif %}
      </div>

      <div class="col-xs-8 detail-view-fields">
        <p><span class="detail-view-title">{{ book.title }}</span></p>
        <p><span class="detail-view-content">Author(s): </span>{{ book.authors }}</p>
        <p><span class="detail-view-content">Published: </span>{{ book.publish_date }}</p>


        <br>
        <p class="text-underline"><u>Details:</u>
        <p><span class="detail-view-content">Dewey Decimal: </span>{{ book.dewey_decimal_class }}</p>
        <p><span class="detail-view-content">Subjects: </span>{{ book.subjects }}</p>
        <p><span class="detail-view-content">Pages: </span>{{ book.number_of_pages }}</p>


        <br>
        <p class="text-underline"><u>External Resources:</u>
        <p><span class="detail-view-content"></span><a href="http://www.amazon.com/gp/search?index=books&field-isbn={{ book.isbn }}" target="_blank">Amazon Search</a>
        <p><span class="detail-view-content"></span><a href="https://openlibrary.org/search?q={{ book.olid }}" target="_blank">OpenLibrary Search</a></p>
        {% if book.openlibrary_preview_url %}
        <p><span class="detail-view-content"></span><a href="{{ book.openlibrary_preview_url }}" target="_blank">OpenLibrary Preview</a>
        {% else %}
        <p class="no-openlibrary-preview">[No OpenLibrary Preview]
        {% endif %}


        <br>
        <br>
        <p class="text-underline"><u>Control Numbers:</u>
        <p><span class="detail-view-content">ISBN: </span>{{ book.isbn }}</p>
        <p><span class="detail-view-content">OLID: </span>{{ book.olid }}</p>


        {% if book.id %}
          <br>
          <br>
          <p class="text-underline"><u>Location:</u>
          {% from "_formhelpers.html" import render_field %}
          <form class="new-book-form" method="POST" action="{{ url_for('detail', id=book.id) }}">
            {{ location_form.hidden_tag() }}

            <fieldset class="form-group">
              {{ render_field(location_form.location, class="form-control") }}
            </fieldset>

            <h6 class="lead small">Please only change this if the book is being moved.</h6>
            <button type="submit" class="btn btn-default">Change</button>
          </form>
        {% endif %}



      </div>
    </div>

  </div>
</div>
