
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header-container">
  <header class="wrapper clearfix">
    <div class="row">

      <a href="/index/"><h1 class="title col-sm-6">Dead Tree Library</h1></a>

      
      <div class="col-sm-4">
        <form class="search-form" action="/index/1/" method="post">
          <fieldset class="form-group">
              <input type="search" name="search" class="form-control" id="search" placeholder="e.g. python" {% if s %} value="{{ s }}" {% endif %}>
          </fieldset>
          <button type="submit" class="pull-right btn btn-primary">Search</button>
        </form>
          <a href="/all/"><button type="button" class="pull-left btn btn-default">View All</button></a>
      </div>

      <div class="col-sm-2">
        <a href="/explore/"><button type="explore" class="pull-right btn btn-default btn-explore">Explore</button></a>
      </div>

    </div>
  </header>
</div>
