{% extends "base.html" %}

{% block title %}Dead Tree Library - Noisebridge{% endblock %}

{% block inlinecss %}
<style type="text/css">
</style>
{% endblock %}

{% block main %}

<div class="header-spacer"></div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">


      <div class="row">

        <h3 class="explanation-header">Viewing entire library. Use your browser's find tool (ctrl+f) to search every book on one page.</h3>

        <span class="book-section-headers col-xs-4">Title</span>
        <span class="book-section-headers col-xs-3">Authors</span>
        <span class="book-section-headers text-right col-xs-2">Date Published</span>
        <span class="book-section-headers text-right col-xs-1">Pages</span>
        <span class="book-section-headers text-right col-xs-2">ISBN</span>
      </div>

      {% for book in books %}
      <div class="row book-section-entry-container">
        <div class="col-xs-4"><a href="{{ url_for('detail', id=book.id) }}">{{ book.title }}</a></div>
        <div class="col-xs-3">{{ book.authors }}</div>
        <div class="col-xs-2 text-right">{{ book.publish_date }}</div>
        <div class="col-xs-1 text-right">{{ book.number_of_pages }}</div>
        <div class="col-xs-2 text-right">{{ book.isbn }}</div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
