<!doctype html>
<html class="no-js" lang="">

    <head>

        <title>{% block title %}Library @ Noisebridge{% endblock %}</title>

        {% block inlinecss %}
        {% endblock %}

        {% block head %}
        {% include 'sections/head.html' %}
        {% endblock %}

    </head>

    {% block body %}
    <body>

        {% block header %}
        {% include 'sections/header.html' %}
        {% endblock %}

        <div class="height-controller">
        {% block main %}
        {% endblock %}
        </div>

        {% block footer %}
        {% include 'sections/footer.html' %}
        {% endblock %}

        {% block footerjs %}
        {% include 'sections/footerjs.html' %}
        {% endblock %}

        {% block inlinejs %}
        {% endblock %}


    </body>
    {% endblock %}

</html>
