{% extends "base.html" %}

{% block inlinecss %}
<style type="text/css">
</style>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">


      <div class="row">

        <h3 class="explanation-header">Hit the explore button until you find a title you like.</h3>

        <span class="book-section-headers col-xs-5">Title</span>
        <span class="book-section-headers col-xs-3">Author</span>
        <span class="book-section-headers text-right col-xs-4">Subjects <span class="toggle-subjects">(toggle)</span></span>
      </div>

      {% for book in books %}
      <div class="row book-section-entry-container">
        <div class="col-xs-5"><a href="{{ url_for('detail', id=book.id) }}">{{ book.title }}</a></div>
        <div class="col-xs-3"><p>{{ book.authors }}</div>
        <div class="subject-field-expander col-xs-4 text-right" data-toggle="tooltip" data-placement="left" data-delay='{"show":0, "hide": 1000}' title="{{ book.subjects }}"><p>{{ book.subjects }}</div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}


{% block inlinejs %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".toggle-subjects").click(function() {
      $(".subject-field-expander").toggle();
    });
  });
</script>
{% endblock %}

