{% extends "base.html" %}

{% block inlinecss %}
<style type="text/css">
</style>
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <h3 class="explanation-header">Search title, authors, and subjects above.</h3>

    <div class="row">

      {% if s %}
      <div class="col-xs-10 col-xs-offset-1">
        <p><span style="font-weight: bold;">Search Results:</span> {{ books.total }}</p>
      </div>
      {% endif %}

      {% if books.pages > 1 %}
        <div class="col-xs-10 col-xs-offset-1">

          <span class="pull-left">
          {% if books.has_prev %}
            <a href="{{ url_for(request.endpoint, page=books.prev_num, s=s) }}">Previous Page</a>
          {% else %}
            <span>Previous Page</span>
          {% endif %}
          </span>
          <span class="pull-right">
          {% if books.has_next %}
            <a href="{{ url_for(request.endpoint, page=books.next_num, s=s) }}">Next Page</a>
          {% else %}
            <span>Next Page</span>
          {% endif %}
          </span>
        </div>

        <div class="col-xs-10 col-xs-offset-1 pages-list">
          {% for page in range(1,books.pages+1) %}
            {% if page == books.page %}
              <span class="paginate-pagenumber-container">{{page}}</span>
            {% else %}
              <a class="paginate-pagenumber-container" href="{{ url_for(request.endpoint, page=page, s=s) }}">{{page}}</a>
            {% endif %}
            {% if page % 20 == 0 %}
              <br \>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

    </div>


      <div class="row">
        <span class="book-section-headers col-xs-5">Title</span>
        <span class="book-section-headers col-xs-3">Author</span>
        <span class="book-section-headers text-right col-xs-4">Subjects <span class="toggle-subjects">(toggle)</span></span>
      </div>

      {% for book in books.items %}
      <div class="row book-section-entry-container">
        <div class="col-xs-5"><a href="{{ url_for('detail', id=book.id) }}">{{ book.title }}</a></div>
        <div class="col-xs-3"><p>{{ book.authors }}</div>
        <div class="subject-field-expander col-xs-4 text-right" data-toggle="tooltip" data-placement="left" data-delay='{"show":0, "hide": 1000}' title="{{ book.subjects }}"><p>{{ book.subjects }}</div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".toggle-subjects").click(function() {
      $(".subject-field-expander").toggle();
    });
  });
</script>
{% endblock %}



