{% extends "base.html" %}

{% block inlinecss %}
<style type="text/css">
.no-openlibrary-preview {
  font-size: 0.9em;
}
</style>
{% endblock %}

{% block main %}

<h3 class="explanation-header">Submit a new book</h3>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">

    {% from "_formhelpers.html" import render_field %}
    <form class="new-book-form" method="POST" action="/new/">
      {{ book_form.hidden_tag() }}

      <fieldset class="form-group">
        {{ render_field(book_form.olid, class="form-control", placeholder="Add the book's OLID (Open Library ID, e.g. OL_______M") }}
      </fieldset>

      <button type="submit" class="btn btn-default">Check</button>
    </form>

  </div>
</div>

{% if book %}
  <div class="row">
    <br>
    <div class="col-xs-6 col-xs-offset-3 text-center">
      {% if book_exists %}
        <h3 class="explanation-header">Book already exists!</h3>
        <h3 class="explanation-header">The book is ready to go on the shelf (we don't track quantity).</h3>
      {% else %}
        {% from "_formhelpers.html" import render_field %}
        <form class="new-book-form" method="POST" action="/submit/">
          {{ secret_form.hidden_tag() }}

          <fieldset class="form-group">
            {{ render_field(secret_form.secret, class="form-control", placeholder="Please enter the secret passphrase here.") }}
          </fieldset>

          <button type="submit" class="btn btn-primary">Verify and Submit</button>
        </form>
      {% endif %}
    </div>
  </div>
  {% include "sections/bookdetailpage.html" %}
{% elif olid %}
<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <h3 class="explanation-header">The book was not found!</h3>
    <h3 class="explanation-header">We need to do more work before putting this book on the shelf.</h3>
    <h3 class="explanation-header">For now, set the book in an assigned location.</h3>
  </div>
</div>
{% endif %}

<div class="header-spacer"></div>

{% endblock %}
